{% extends 'core/user/layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block style-body %}
{% if background and background.image_banner %}
  style="background: url('{{ background.image_banner.url }}') no-repeat center center fixed"
{% elif background and background.color %}
  style="background-color: {{ background.color }}"
{% endif %}
{% endblock %}


{% block content %}
<!-- Карусель -->
    {% if home_slides %}
  {% with speed=home_slides.0.speed_banner|default:5 %}
  <div id="myCarousel" class="carousel slide mx-auto"
       data-bs-ride="carousel"
       data-bs-interval="{{ speed }}000"
       style="width: 50%;">

    <div class="carousel-indicators">
      {% for s in home_slides %}
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ forloop.counter0 }}"
                class="{% if forloop.first %}active{% endif %}" aria-current="{% if forloop.first %}true{% else %}false{% endif %}"></button>
      {% endfor %}
    </div>

<div class="carousel-inner">
  {% for s in home_slides %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      {% if s.gallery_banner and s.gallery_banner.image_set.first %}
        <img src="{{ s.gallery_banner.image_set.first.image.url }}" alt="картинка" style="width:1000px; height:190px; object-fit:cover;">
      {% else %}
        <img src="{% static 'img/no-image.png' %}" alt="нет картинки">
      {% endif %}

      {% if s.text_banner %}
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ s.text_banner }}</h5>
        </div>
      {% endif %}

      {% if s.url_banner %}
        <a class="stretched-link" href="{{ s.url_banner }}" target="_blank"></a>
      {% endif %}
    </div>
  {% endfor %}
</div>


    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {% endwith %}
{% else %}
  <p class="text-center text-muted">Нет слайдов для отображения.</p>
{% endif %}



<!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- постеры -->
    <div class="container py-4 text-black bg-white">
        <h2 class="text-center mb-4">Смотрите сегодня, 24 июля</h2>
        <div class="row g-4">
            <div class="col-6 col-md-3">
                <div class="movie-card">
                    <img src="https://picsum.photos/1200/500?random=1" alt="Иллюзия обмана 2">
                    <h5 class="mt-2">Иллюзия обмана 2</h5>
                    <button class="btn btn-buy">Купить билет</button>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="movie-card">
                    <img src="https://picsum.photos/1200/500?random=1" alt="Ледниковый период">
                    <h5 class="mt-2">Ледниковый период: Курс на столкновение</h5>
                    <button class="btn btn-buy">Купить билет</button>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="movie-card">
                    <img src="https://picsum.photos/1200/500?random=1" alt="Свадебный погром">
                    <h5 class="mt-2">Свадебный погром</h5>
                    <button class="btn btn-buy">Купить билет</button>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="movie-card">
                    <img src="https://picsum.photos/1200/500?random=1" alt="Стартрек">
                    <h5 class="mt-2">Стартрек: За пределами Вселенной</h5>
                    <button class="btn btn-buy">Купить билет</button>
                </div>
            </div>
<!-- Ещё фильмы можно добавлять аналогично -->
        </div>

        <h2 class="text-center mb-4">Смотрите скоро</h2>
        <div class="row g-4">
            <div class="col-6 col-md-3">
                <div class="movie-card">
                    <img src="https://picsum.photos/1200/500?random=1" alt="Иллюзия обмана 2">
                    <h5 class="mt-2">Иллюзия обмана 2</h5>
                    <h3 class="text-success">С 1 сентября</h3>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="movie-card">
                    <img src="https://picsum.photos/1200/500?random=1" alt="Ледниковый период">
                    <h5 class="mt-2">Ледниковый период: Курс на столкновение</h5>
                    <h3 class="text-success">С 1 сентября</h3>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="movie-card">
                    <img src="https://picsum.photos/1200/500?random=1" alt="Свадебный погром">
                    <h5 class="mt-2">Свадебный погром</h5>
                    <h3 class="text-success">С 1 сентября</h3>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="movie-card">
                    <img src="https://picsum.photos/1200/500?random=1" alt="Стартрек">
                    <h5 class="mt-2">Стартрек: За пределами Вселенной</h5>
                    <h3 class="text-success">С 1 сентября</h3>
                </div>
            </div>
<!-- Ещё фильмы можно добавлять аналогично -->
        </div>
    </div>

    <div class="container text-center py-4 text-black bg-white">
        <h2>Новости и Акции</h2>

      <!-- Баннер -->
        {# Новости и Акции — один баннер #}
        {% if news_banner and news_banner.gallery_banner and news_banner.gallery_banner.image_set.first %}
          <div class="container text-center py-4">
            <h2>Новости и Акции</h2>
            <div class="index-banner-low mb-4">
              <a href="{{ news_banner.url_banner|default:'#' }}">
                <img src="{% static news_banner.gallery_banner.image_set.first.image.name %}" alt="Баннер">
              </a>
            </div>
          </div>
        {% endif %}

      <!-- Контекстная реклама -->
        <div class="index-banner-low">
            <div class="ad-box ">
                <img src="https://picsum.photos/1200/500?random=1" alt="Контекстная реклама">
            </div>
        </div>

      <!-- SEO текст -->
        <div class="seo-text">
            SEO текст SEO текст SEO текст SEO текст SEO текст SEO текст SEO текст SEO текст SEO текст SEO текст
            SEO текст SEO текст SEO текст SEO текст SEO текст SEO текст SEO текст SEO текст SEO текст SEO текст
            SEO текст SEO текст SEO текст SEO текст SEO текст SEO текст SEO текст SEO текст SEO текст SEO текст
        </div>
    </div>

{% endblock %}