{% extends 'core/user/layout.html' %}

{% block title %}Акции и Скидки{% endblock %}

{% block content %}
<div class="container w-80">
  <div class="row">
    <div class="col-lg-9 w-80">
      <div class="text-center my-4">
        <h2>Акции и Скидки</h2>
      </div>
      <div class="content-block">
        <div class="row g-4">
          {% for news in news_list %}
          <div class="col-md-4">
            <div class="poster-card">
              {% if news.main_image %}
                <img src="{{ news.main_image.url }}" alt="">
              {% endif %}
              <h5 class="mt-2"><a href="{{ news.url_movie }}">{{ news.name }}</a></h5>
              <div class="tags">
                <div class="tag">{{ news.time_created|date:"d.m.Y" }}</div>
              </div>
              <p>{{ news.description|truncatechars:120 }}</p>
            </div>
          </div>
          {% empty %}
          <p>Пока новостей нет.</p>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-lg-3 w-20">
      <div class="ad-block">
        <img src="https://picsum.photos/1200/500?random=1" alt="">
      </div>
    </div>
  </div>
</div>
{% endblock %}
