{% extends 'core/user/layout.html' %}

{% block title %}Акции и Скидки{% endblock %}

{% block content %}
    <!-- ... баннер ... -->
    <div class="container w-80">
        <div class="row">
            <div class="col-lg-9 w-80">
                <div class="text-center my-4">
                    <h2>Акции и Скидки</h2>
                </div>
                <div class="content-block">
                    <div class="row g-4">
                        <!-- НАЧАЛО ЦИКЛА -->
                        {% for promo in promotion_list %}
                        <div class="col-md-4">
                            <div class="poster-card">
                                {% if promo.main_image %}
                                <img src="{{ promo.main_image.url }}" alt="{{ promo.name }}">
                                {% else %}
                                <img src="https://via.placeholder.com/400x250" alt="Нет изображения">
                                {% endif %}

                                <!-- ССЫЛКА НА ДЕТАЛЬНУЮ СТРАНИЦУ -->
                                <h5 class="mt-2"><a href="{% url 'core:stock_card' promo.pk %}">{{ promo.name }}</a></h5>

                                <div class="tags">
                                    <div class="tag">{{ promo.time_created|date:"d.m.Y" }}</div>
                                </div>
                                <p>{{ promo.description|truncatewords:20 }}</p>
                            </div>
                        </div>
                        {% empty %}
                        <p class="text-center">На данный момент активных акций нет.</p>
                        {% endfor %}
                        <!-- КОНЕЦ ЦИКЛА -->
                    </div>
                </div>
            </div>

            <!-- ... правая колонка ... -->
            <div class="col-lg-3 w-20">
                <div class="ad-block">
                    <img src="https://picsum.photos/1200/500?random=1" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}