{% extends 'core/user/layout.html' %}

{% block title %}Карточка акции{% endblock %}

{% block content %}
    <!-- Баннер -->
    <div class="text-center">
        <img src="https://picsum.photos/1200/400?random=1" alt=""class="">
    </div>
    <!-- Основной контейнер -->
    <div class="container w-80">

        <div class="row">
            <!-- Левая колонка с контентом -->
            <div class="col-lg-9 w-80">

                <div class="content-block">
                    <!-- Заголовок -->
                    <div class="text-left my-4">
                        <h2>Акции и Скидки</h2>
                    </div>
                    <div class="tags">
                        <div class="tag">01.09.2025</div>
                        <div class="tag">Тег1</div>
                        <div class="tag">Тег2</div>
                    </div>
                    <div class="row align-items-center g-3">
                        <div class="col-md-4">
                            <!-- Карточка постера -->
                            <div class="poster-card">
                                <img src="https://picsum.photos/1200/500?random=1" alt="Постер">
                            </div>
                        </div>
                            <div class="col-md-8">
                                <p>Описание постера. Краткое содержание или информация об акции.</p>
                            </div>
                    </div>
                </div>
            </div>

            <!-- Правая колонка с рекламой -->
            <div class="col-lg-3 w-20">
                <div class="ad-block">
                    <img src="https://picsum.photos/1200/500?random=1" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}