{% extends 'core/adminlte/admin_layout.html' %}

{% block content %}
    <!-- Пользователи -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Пользователи</h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 200px;">
            <input type="text" name="table_search" class="form-control float-end" placeholder="Поиск">
            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>ID</th>
              <th>Дата регистрации</th>
              <th>День рождения</th>
              <th>Email</th>
              <th>Телефон</th>
              <th>ФИО</th>
              <th>Псевдоним</th>
              <th>Город</th>
              <th>Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2104</td>
              <td>12.10.2015</td>
              <td>12.10.1985</td>
              <td>ivan@mail.ru</td>
              <td>78542154854</td>
              <td>Иван Герасимов</td>
              <td>Молния</td>
              <td>Москва</td>
              <td>
                <button class="btn btn-sm btn-primary"><i class="fas fa-pencil-alt"></i></button>
                <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}