{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container my-5" style="max-width: 500px;">
    <!-- Форма Логина -->
    <div class="card shadow-sm mb-4">
        <div class="card-header bg-primary text-white">Log In</div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Login</label>
                    <input type="text" name="username" id="username" class="input-register form-control" placeholder="Your username" autofocus required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="input-register form-control" placeholder="Your password" required>
                </div>

                <button type="submit" class="btn btn-primary w-100">Log In</button>

                {% if error %}
                    <div class="alert alert-danger mt-3">{{ error }}</div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock%}