{% load static %}
{% block title %}Registration{% endblock %}
{% block content %}

<div class="container my-5" style="max-width: 500px;">
    <div class="card shadow-sm mb-4">
        <!-- Форма Регистрации -->
        <div class="card shadow-sm">
            <div class="card-header bg-success text-white">Registration</div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Login</label>
                        <input type="text" name="username" id="username" class="input-register form-control" placeholder="Your username" required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" id="email" class="input-register form-control" placeholder="Your email" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password1" id="password" class="input-register form-control" placeholder="Your password" required>
                    </div>

                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirm password</label>
                        <input type="password" name="password2" id="confirm_password" class="input-register form-control" placeholder="Confirm your password" required>
                    </div>

                    <button type="submit" class="btn btn-success w-100">Registration</button>

                    {% if errors %}
                        <div class="alert alert-danger mt-3">
                            {% for error in errors %}
                                <p class="mb-0">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}