{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container my-5" style="max-width: 500px;">
    <!-- Форма Логина -->
    <div class="card shadow-sm mb-4">
        <div class="card-header bg-primary text-white">Log In</div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.username.id_for_label }}" class="form-label">Login</label>
                    {{ form.username }}
                </div>

                <div class="mb-3">
                    <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                    {{ form.password }}
                </div>

                <button type="submit" class="btn btn-primary w-100">Log In</button>
            </form>
        </div>
    </div>
</div>
{% endblock%}
