{% extends 'main/layout.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow p-4">
        <h3 class="text-center mb-4">Страница клиента</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="{{ form.first_name.id_for_label }}" class="form-label">Имя</label>
                    {{ form.first_name }}
                </div>
                <div class="col-md-6">
                    <label  class="form-label">Язык</label>
                    <div>
                        {% for radio in form.language %}
                            <div class="form-check form-check-inline">
                                {{ radio.tag }}
                                <label class="form-check-label" for="{{ radio.id_for_label }}">
                                    {{ radio.choice_label }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="{{ form.last_name.id_for_label }}" class="form-label">Фамилия</label>
                    {{ form.last_name }}
                </div>
                <div class="col-md-6">
                    <label class="form-label">Пол</label>
                    <div>
                        {% for radio in form.gender %}
                            <div class="form-check form-check-inline">
                                {{ radio.tag }}
                                <label class="form-check-label" for="{{ radio.id_for_label }}">
                                    {{ radio.choice_label }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="{{ form.username.id_for_label }}" class="form-label">Псевдоним</label>
                    {{ form.username }}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.phone.id_for_label }}" class="form-label">Телефон</label>
                    {{ form.phone }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="{{ form.email.id_for_label }}" class="form-label">E-mail</label>
                    {{ form.email }}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.birthday.id_for_label }}" class="form-label">Дата рождения</label>
                    {{ form.birthday }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="{{ form.address.id_for_label }}" class="form-label">Адрес</label>
                    {{ form.address }}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.city.id_for_label }}" class="form-label">Город</label>
                    {{ form.city }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="{{ form.password1.id_for_label }}" class="form-label">Пароль</label>
                    {{ form.password1 }}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.password2.id_for_label }}" class="form-label">Повторить пароль</label>
                    {{ form.password2 }}
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6">
                    <label for="{{ form.card_number.id_for_label }}" class="form-label">Номер карты</label>
                    {{ form.card_number }}
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary px-5">Сохранить</button>
            </div>
        </form>
        {% if success %}
            <p class="text-success">Изменения сохранены!</p>
        {% endif %}
    </div>
</div>
{% endblock %}
